.hidden {
    display: none;
}

html, body {
    height:100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background:rgb(68, 68, 68);
}
* {
    
    box-sizing: border-box;
}
.container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    height:100%;
    .server {
        width: 320px;
        border: 1px solid blue;
    }
    .page {
        width: 640px;
        background: #f4f6f7;
        height:100%;
        display:flex;
        flex-direction: column;

        span.keyword {
            font-weight: bold;
        }

        ul {
            font-family: 'Open Sans', sans-serif;
            margin: 0;
            list-style: inside;
            padding: 0;
        }
        code {
            font-weight: bold;
            font-family: inherit;
            &.html {
                color:#E65027;
            }
            &.css {
                color:#1572B6;
            }
            &.js {
                color:#E5A228;
            }
        }

        .header {
            text-align: center;
            position: relative;
            h1,p {
                margin:0;
            }
            h1 {
                font-family: 'Carter One', cursive;
                color: #f00606;
            }
            p {
                font-family: 'Open Sans', sans-serif;
            }
            button.reload {
                position: absolute;
                top:0;
                right:0;
                margin-top: 10px;
                margin-right: 10px;
                width: 40px;
                height: 40px;
                font-size:30px;
                padding: 0px;
                background:transparent;
                
                border:1px solid #a1a1a1;
                color:#747474;
                outline:none;
                line-height: 40px;
            }
        }
        .content {
            flex: 1;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .content-block {
                width:50%;
                height:50%;
                // border: 1px solid red;
                // padding: 1px;
                box-sizing: border-box;
                padding: 10px 20px;
                position: relative;

                input {
                    width: 243px;
                    height: 26px;
                }
                .icon-row {
                    // display: flex;
                    // flex-direction: row;
                    // justify-content: center;
                    // overflow: hidden;
                    // margin: 0 auto;
                    text-align: center;

                    img {
                        width:35px;
                        margin: 10px;
                        height: unset;
                        // height:60px;
                        // height:10px;
                    }
                }

                img {
                    width: 243px;
                    height: 28px;
                }

                h2 {
                    margin:0;
                    font-family: 'Patua One', cursive;
                    
                    color:#f00606;
                }
                p {
                    margin:0;
                    font-family: 'Open Sans', sans-serif;
                }
                button.next {
                    width: 50px;
                    height: 30px;
                    padding: 0px;
                    float: right;
                    margin-top:10px;
                    margin-right: 20px;
                    margin-bottom: 5px;
                    
                    font-size: 40px;
                    line-height: 30px;
                    color:white;
                    background:red;
                
                    border-radius:3px;
                    border: none;
                    outline:none;
                    i {
                        margin-top:-5px;
                    }
                    &:hover {
                        background: darken($color: red, $amount: 10);
                        color: darken(white, 10);
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .developer {
        width: 320px;
        border: 1px solid red;
        // padding-top: 10%;
        margin-top: 5%;
        height:50%;
        .header {
            text-align: center;
            h1 {
                font-family: 'Press Start 2P', cursive;
                font-size: 13px;
                color: greenyellow;
            }
        }
    }
}